<!doctype html>

<html>
  <head>
    <title>IIIT-Delhi | Ambient Monitor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      body {
        text-align: center;
      }
      
      #g_1a_registrar, #g_2a_mtech, #g_2b_phd, #g_2b_mtech, #g_3a_mtech, #g_3b_mtech, #g_3b_newphd, #g_4a_mtech, #g_4b_mtech, #g_5a_director, #g_5b_boardroom {
        width:320px; height:240px;
        display: inline-block;
        margin: 1em;
      }
      
      #g4 {
        width:100px; height:80px;
        display: inline-block;
        margin: 1em;
      }
      
      p {
        display: block;
        width: 450px;
        margin: 2em auto;
        text-align: left;
      }
    </style>
    
    <script src="static/resources/js/raphael.2.1.0.min.js"></script>
    <script src="static/resources/js/justgage.1.0.1.min.js"></script>
    <script src="static/resources/js/jquery-2.0.2.min.js"></script>

    <script>
      var g1, g2, g3, g4;
      
      window.onload = function(){

        g_1a_registrar = new JustGage({
          id: "g_1a_registrar", 
          value: 0, 
          min: 10,
          max: 40,
          title: "1st Floor - Registrar's Office",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_2a_mtech = new JustGage({
          id: "g_2a_mtech", 
          value: 0, 
          min: 10,
          max: 40,
          title: "2nd Floor - A - MTech Lab",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_2b_phd = new JustGage({
          id: "g_2b_phd", 
          value: 0, 
          min: 10,
          max: 40,
          title: "2nd Floor - B - PhD Lab",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_2b_mtech = new JustGage({
          id: "g_2b_mtech", 
          value: 0, 
          min: 10,
          max: 40,
          title: "2nd Floor - B - MTech Lab",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_3a_mtech = new JustGage({
          id: "g_3a_mtech", 
          value: 0, 
          min: 10,
          max: 40,
          title: "3rd Floor - A - MTech Lab",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_3b_mtech = new JustGage({
          id: "g_3b_mtech", 
          value: 0, 
          min: 10,
          max: 40,
          title: "3rd Floor - B - MTech Lab",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_3b_newphd = new JustGage({
          id: "g_3b_newphd", 
          value: 0, 
          min: 10,
          max: 40,
          title: "3rd Floor - B - New PhD Lab",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_4a_mtech = new JustGage({
          id: "g_4a_mtech", 
          value: 0, 
          min: 10,
          max: 40,
          title: "4th Floor - A - MTech Lab",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_4b_mtech = new JustGage({
          id: "g_4b_mtech", 
          value: 0, 
          min: 10,
          max: 40,
          title: "4th Floor - B - MTech Lab",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_5a_director = new JustGage({
          id: "g_5a_director", 
          value: 0, 
          min: 10,
          max: 40,
          title: "5th Floor - Director's Office",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });

        g_5b_boardroom = new JustGage({
          id: "g_5b_boardroom", 
          value: 0, 
          min: 10,
          max: 40,
          title: "5th Floor - Board Room",
          label: "Celsius",
          levelColors: [
          	"#ffffff",
          	"#f9c802",
          	"#FF0000"
          ]
        });


      };

////////////////////////////////////////////////////////////////////////////////////////////////////
// for 1a Registrar's office
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_1a_registrar = "d48f7979-17ae-5ceb-a63c-dbfb33dc846f"
	start_time_1a_registrar = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_1a_registrar = "/getdata/" + uuid_1a_registrar + "/" + start_time_1a_registrar.toString() + "/";
	(function worker_1a_registrar() {
	  $.ajax({
            type:'get',
	    url: smap_query_1a_registrar, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_1a_registrar.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_1a_registrar_msg').html("Last updated on " + d.toString());
				start_time_1a_registrar = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_1a_registrar = start_time_1a_registrar + 5000
		smap_query_1a_registrar = "/getdata/" + uuid_1a_registrar + "/" + start_time_1a_registrar.toString() + "/";
		console.log(smap_query_1a_registrar);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_1a_registrar, 4500);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_1a_registrar_msg').html("Error : " + textStatus);
	    }
	  });
	})();

////////////////////////////////////////////////////////////////////////////////////////////////////
// for 2a MTech Lab
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_2a_mtech = "861baafc-7bd6-576b-b788-89eb237f7f64"
	start_time_2a_mtech = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_2a_mtech = "/getdata/" + uuid_2a_mtech + "/" + start_time_2a_mtech.toString() + "/";
	(function worker_2a_mtech() {
	  $.ajax({
            type:'get',
	    url: smap_query_2a_mtech, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_2a_mtech.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_2a_mtech_msg').html("Last updated on " + d.toString());
				start_time_2a_mtech = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_2a_mtech = start_time_2a_mtech + 5000
		smap_query_2a_mtech = "/getdata/" + uuid_2a_mtech + "/" + start_time_2a_mtech.toString() + "/";
		console.log(smap_query_2a_mtech);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_2a_mtech, 4500);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_2a_mtech_msg').html("Error : " + textStatus);
	    }
	  });
	})();


////////////////////////////////////////////////////////////////////////////////////////////////////
// for 2b PhD Lab
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_2b_phd = "ab22036d-6329-5cae-bbbf-4995f5ecc8c0"
	start_time_2b_phd = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_2b_phd = "/getdata/" + uuid_2b_phd + "/" + start_time_2b_phd.toString() + "/";
	(function worker_2b_phd() {
	  $.ajax({
            type:'get',
	    url: smap_query_2b_phd, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_2b_phd.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_2b_phd_msg').html("Last updated on " + d.toString());
				start_time_2b_phd = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_2b_phd = start_time_2b_phd + 5000
		smap_query_2b_phd = "/getdata/" + uuid_2b_phd + "/" + start_time_2b_phd.toString() + "/";
		console.log(smap_query_2b_phd);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_2b_phd, 5000);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_2b_phd_msg').html("Error : " + textStatus);
	    }
	  });
	})();


////////////////////////////////////////////////////////////////////////////////////////////////////
// for 2b MTech Lab
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_2b_mtech = "2ba35cf1-b3e3-5eb3-9a96-2fc48e6330af"
	start_time_2b_mtech = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_2b_mtech = "/getdata/" + uuid_2b_mtech + "/" + start_time_2b_mtech.toString() + "/";
	(function worker_2b_mtech() {
	  $.ajax({
            type:'get',
	    url: smap_query_2b_mtech, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_2b_mtech.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_2b_mtech_msg').html("Last updated on " + d.toString());
				start_time_2b_mtech = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_2b_mtech = start_time_2b_mtech + 5000
		smap_query_2b_mtech = "/getdata/" + uuid_2b_mtech + "/" + start_time_2b_mtech.toString() + "/";
		console.log(smap_query_2b_mtech);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_2b_mtech, 4500);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_2b_mtech_msg').html("Error : " + textStatus);
	    }
	  });
	})();


////////////////////////////////////////////////////////////////////////////////////////////////////
// for 3A MTech Lab
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_3a_mtech = "8b4bfaa9-69f5-5c0b-8b1d-a1984acc2a18"
	start_time_3a_mtech = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_3a_mtech = "/getdata/" + uuid_3a_mtech + "/" + start_time_3a_mtech.toString() + "/";
	(function worker_3a_mtech() {
	  $.ajax({
            type:'get',
	    url: smap_query_3a_mtech, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_3a_mtech.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_3a_mtech_msg').html("Last updated on " + d.toString());
				start_time_3a_mtech = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_3a_mtech = start_time_3a_mtech + 5000
		smap_query_3a_mtech = "/getdata/" + uuid_3a_mtech + "/" + start_time_3a_mtech.toString() + "/";
		console.log(smap_query_3a_mtech);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_3a_mtech, 5000);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_3a_mtech_msg').html("Error : " + textStatus);
	    }
	  });
	})();

////////////////////////////////////////////////////////////////////////////////////////////////////
// for 3b MTech Lab
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_3b_mtech = "790d65bd-2801-527d-8f5f-e117e69f257d"
	start_time_3b_mtech = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_3b_mtech = "/getdata/" + uuid_3b_mtech + "/" + start_time_3b_mtech.toString() + "/";
	(function worker_3b_mtech() {
	  $.ajax({
            type:'get',
	    url: smap_query_3b_mtech, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_3b_mtech.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_3b_mtech_msg').html("Last updated on " + d.toString());
				start_time_3b_mtech = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_3b_mtech = start_time_3b_mtech + 5000
		smap_query_3b_mtech = "/getdata/" + uuid_3b_mtech + "/" + start_time_3b_mtech.toString() + "/";
		console.log(smap_query_3b_mtech);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_3b_mtech, 5000);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_3b_mtech_msg').html("Error : " + textStatus);
	    }
	  });
	})();


////////////////////////////////////////////////////////////////////////////////////////////////////
// for 3b new PhD Lab
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_3b_newphd = "5afaf2c5-2cb2-54a5-9aaf-9eeca2698716"
	start_time_3b_newphd = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_3b_newphd = "/getdata/" + uuid_3b_newphd + "/" + start_time_3b_newphd.toString() + "/";
	(function worker_3b_newphd() {
	  $.ajax({
            type:'get',
	    url: smap_query_3b_newphd, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_3b_newphd.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_3b_newphd_msg').html("Last updated on " + d.toString());
				start_time_3b_newphd = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_3b_newphd = start_time_3b_newphd + 5000
		smap_query_3b_newphd = "/getdata/" + uuid_3b_newphd + "/" + start_time_3b_newphd.toString() + "/";
		console.log(smap_query_3b_newphd);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_3b_newphd, 5000);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_3b_newphd_msg').html("Error : " + textStatus);
	    }
	  });
	})();


////////////////////////////////////////////////////////////////////////////////////////////////////
// for 4a MTech Lab
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_4a_mtech = "3509dd8b-75fc-5c7f-b3fd-93f57d38129b"
	start_time_4a_mtech = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_4a_mtech = "/getdata/" + uuid_4a_mtech + "/" + start_time_4a_mtech.toString() + "/";
	(function worker_4a_mtech() {
	  $.ajax({
            type:'get',
	    url: smap_query_4a_mtech, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_4a_mtech.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_4a_mtech_msg').html("Last updated on " + d.toString());
				start_time_4a_mtech = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_4a_mtech = start_time_4a_mtech + 5000
		smap_query_4a_mtech = "/getdata/" + uuid_4a_mtech + "/" + start_time_4a_mtech.toString() + "/";
		console.log(smap_query_4a_mtech);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_4a_mtech, 5500);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_4a_mtech_msg').html("Error : " + textStatus);
	    }
	  });
	})();


////////////////////////////////////////////////////////////////////////////////////////////////////
// for 4b MTech Lab
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_4b_mtech = "6eaf6cd6-b971-5685-9f05-db61844ce5f6"
	start_time_4b_mtech = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_4b_mtech = "/getdata/" + uuid_4b_mtech + "/" + start_time_4b_mtech.toString() + "/";
	(function worker_4b_mtech() {
	  $.ajax({
            type:'get',
	    url: smap_query_4b_mtech, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_4b_mtech.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_4b_mtech_msg').html("Last updated on " + d.toString());
				start_time_4b_mtech = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_4b_mtech = start_time_4b_mtech + 5000
		smap_query_4b_mtech = "/getdata/" + uuid_4b_mtech + "/" + start_time_4b_mtech.toString() + "/";
		console.log(smap_query_4b_mtech);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_4b_mtech, 5500);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_4b_mtech_msg').html("Error : " + textStatus);
	    }
	  });
	})();


////////////////////////////////////////////////////////////////////////////////////////////////////
// for 5a Director's office
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_5a_director = "682423e8-6c28-5c2b-8998-239af0ea7630"
	start_time_5a_director = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_5a_director = "/getdata/" + uuid_5a_director + "/" + start_time_5a_director.toString() + "/";
	(function worker_5a_director() {
	  $.ajax({
            type:'get',
	    url: smap_query_5a_director, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_5a_director.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_5a_director_msg').html("Last updated on " + d.toString());
				start_time_5a_director = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_5a_director = start_time_5a_director + 5000
		smap_query_5a_director = "/getdata/" + uuid_5a_director + "/" + start_time_5a_director.toString() + "/";
		console.log(smap_query_5a_director);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_5a_director, 5500);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_5a_director_msg').html("Error : " + textStatus);
	    }
	  });
	})();

////////////////////////////////////////////////////////////////////////////////////////////////////
// for 5b Board room
////////////////////////////////////////////////////////////////////////////////////////////////////
	uuid_5b_boardroom = "72b37578-183a-53bc-96a2-e9e66433bc40"
	start_time_5b_boardroom = new Date().getTime() - 1000 * 60 * 60 ; // query the past 1 hour data 	
	smap_query_5b_boardroom = "/getdata/" + uuid_5b_boardroom + "/" + start_time_5b_boardroom.toString() + "/";
	(function worker_5b_boardroom() {
	  $.ajax({
            type:'get',
	    url: smap_query_5b_boardroom, 
	    //crossDomain: true,
	    //contentType: "application/json; charset=utf-8",
	    success: function(data) {
	      console.log('success \n' + data)

		var jsonObj;
  	  	try {
			jsonObj = $.parseJSON(data);
  		} catch (e) {
	      		console.log('Invalid Json')
  		}
		if( jsonObj != null) { 
			readings = jsonObj[0].Readings;
		      	//console.log(readings);
			if(readings.length > 0 ) {
				last_reading = readings[readings.length-1]
				console.log(last_reading);
				epoch = last_reading[0]
				val = last_reading[1]
		        	g_5b_boardroom.refresh(val);
				var d = new Date(epoch); // The 0 there is the key, which sets the date to the epoch
			    	$('#g_5b_boardroom_msg').html("Last updated on " + d.toString());
				start_time_5b_boardroom = epoch;
			}
			else {
				console.log('no readings..')
			}
		}
		start_time_5b_boardroom = start_time_5b_boardroom + 5000
		smap_query_5b_boardroom = "/getdata/" + uuid_5b_boardroom + "/" + start_time_5b_boardroom.toString() + "/";
		console.log(smap_query_5b_boardroom);		
	    },
	    complete: function() {
	      // console.log('complete..')
	      // Schedule the next request when the current one's complete
	      setTimeout(worker_5b_boardroom, 5500);
	    },
 	    fail: function(jqxhr, textStatus, error) { 
			console.log("Error occuredd.." + error);
	            	$('#g_5b_boardroom_msg').html("Error : " + textStatus);
	    }
	  });
	})();

    </script>

	</head>

  <body>    
    <div id="g_1a_registrar"> <div id="g_1a_registrar_msg"></div> </div>

    <div id="g_2a_mtech"> <div id="g_2a_mtech_msg"></div> </div>
    <div id="g_2b_phd"> <div id="g_2b_phd_msg"></div> </div>
    <div id="g_2b_mtech"> <div id="g_2b_mtech_msg"></div> </div>

    <div id="g_3a_mtech"> <div id="g_3a_mtech_msg"></div> </div>
    <div id="g_3b_mtech"> <div id="g_3b_mtech_msg"></div> </div>
    <div id="g_3b_newphd"> <div id="g_3b_newphd_msg"></div> </div>

    <div id="g_4a_mtech"> <div id="g_4a_mtech_msg"></div> </div>
    <div id="g_4b_mtech"> <div id="g_4b_mtech_msg"></div> </div>

    <div id="g_5a_director"> <div id="g_5a_director_msg"></div> </div>
    <div id="g_5b_boardroom"> <div id="g_5b_boardroom_msg"></div> </div>

  </body>

</html>
